<div class="container rounded-corners bg-red mt-5 mb-5">
  <div class="row">
    <div class="col-md-3">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5">
        <img class="rounded-circle mt-5" [src]="profile" /><br />
        <span class="font-weight-bold text-white text-uppercase">{{ firstName + " " + lastName }}</span>

        <div class="mt-5 text-center">
          <a type="button"></a>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="text-right text-white">Account Details</h4>
        </div>
        <div class="row mt-2">
          <div class="col-md-5">
            <label class="labels">Name</label>
            <input type="text" class="form-control" [(ngModel)]="firstName" placeholder="first name"
              [ngModelOptions]="{standalone: true}" />
          </div>
          <div class="col-md-5">
            <label class="labels">Surname</label>
            <input type="text" class="form-control" [(ngModel)]="lastName" placeholder="surname"
              [ngModelOptions]="{standalone: true}" />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-10">
            <label class="labels">Phone Number</label>
            <input type="text" class="form-control" maxlength="10" placeholder="enter phone number"
              [(ngModel)]="phonenumber" [ngModelOptions]="{standalone: true}" />
            <br />
          </div>
          <div class="col-md-10">
            <label class="labels">Email ID</label>
            <input type="text" class="form-control" placeholder="enter email" [(ngModel)]="email"
              [ngModelOptions]="{standalone: true}" disabled />
            <br />
          </div>
          <div class="col-md-10">
            <label class="labels">Date of Birth</label>
            <input type="date" class="form-control" placeholder="enter email id" [(ngModel)]="dateofbirth"
              [ngModelOptions]="{standalone: true}" />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-5">
            <label class="labels">Country</label>
            <select class="form-control" #country name="country" id="country" (change)="onCountryChange($event, '', '')"
              [(ngModel)]="selectedCountry" placeholder="select your country" [ngModelOptions]="{standalone: true}">
              <option [ngValue]="null" selected>-- Select Your Country --</option>
              <option *ngFor="let country of countries" [ngValue]="country">
                {{ country.name }}
              </option>
            </select>
          </div>
          <div class="col-md-5">
            <label class="labels">State</label>
            <select class="form-control" name="state" id="state" (change)="onStateChange($event, '')"
              [(ngModel)]="selectedState" [ngModelOptions]="{standalone: true}">
              <option [ngValue]="null">-- Select Your State --</option>
              <option *ngFor="let state of states" [ngValue]="state">
                {{ state.name }}
              </option>
            </select>
          </div>
          <div class="col-md-10">
            <label class="labels">City</label>
            <select class="form-control" #city name="city" id="city" (change)="onCityChange($event)"
              [(ngModel)]="selectedCity" [ngModelOptions]="{standalone: true}">
              <option [ngValue]="null">-- Select Your City --</option>
              <option *ngFor="let city of cities" [ngValue]="city">
                {{ city.name }}
              </option>
            </select>
          </div>
        </div>

        <div class="row mt-5">
          <div class="col-md-10 text-center">
            <button class="btn btn-success" type="button" (click)="saveProfile()">
              Save Profile
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>